*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: sans-serif;
}
ul{list-style: none;}
a{text-decoration: none}
label b{
	cursor: pointer;
	font-size: 2.5em;
}
.header{
	color: #fff;
	display: flex;
	padding: 10px 20px;
	align-items: center;
	background-color: #124;
	justify-content: space-between;
}
.logo{
	color: #fff;
}
.menu{
	left: -300px;
	top: 65px;
	width: 300px;
	height: 100vh;
	position: absolute;
	transition: all .5s; 
	background-color: #124;
}
.menu a{
	color: #fff;
	width: 100%;
	padding: 10px 20px;
	transition: all .5s;
	display: inline-block;
}
.menu a:hover{
	color: #00bcd4;
	background-color: #1f345e;
}
#check{
	display: none;
}
#check:checked ~ .menu{
	transform: translateX(300px);
}
