*{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: sans-serif;
}

ul{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
.menu{
	width: 40px;
}
.header{
	color: #fff;
	background-color: #124;
}

input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]:checked ~ nav{
	transform: translateX(350px);
}
nav{
	left: -350px;
	width: 350px;
	height: 100vh;
	position: absolute;
	transition: all .5s;
	background-color: #124;
}
ul{
	top: 70px;
	width: 100%;
	position: absolute;
}
nav a{
	color: #fff;
	padding: 10px;
	display: block;
	transition: 0.5s;
	
}
nav a:hover{
	background-color: #1d325b;
}

label{
	z-index: 1;
	padding: 15px;
	position: absolute;
}
